name: WSO2 APIM API Deploying - Developer
on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to Deploy APIs"
        required: false
        default: "main"
      environment:
        description: 'Select the Deployment Environment'
        required: true
        type: choice
        options:
          - 'Development'
          - 'SIT'
          - 'SIT-sandbox'
          - 'UAT-node-1'
          - 'UAT-node-2'
          - 'STG-sandbox'
        default: 'Development'
  
jobs:
  deploy-apis:
    uses: kariyasinghe-cell/wso2-workflows/.github/workflows/test-wso2-apis.yaml@main
    with:
      branch: ${{ github.event.inputs.branch }}
      includeAPIs: "v1"
      triggeredBy: "developer"
    secrets: inherit
