name: WSO2 APIM API Deploying - Developer
on:
  workflow_dispatch:

jobs:
  deploy-apis:
    uses: kariyasinghe-cell/wso2-workflows/.github/workflows/test-wso2-apis.yaml@main
    with:
      includeAPIs: "v1"
      triggeredBy: "developer"
    secrets: inherit
